// Sobre escribimos las variables que queremos cambiar
$primary: #416900;
$secondary: #586249;

$bg-color: #fcdab37c;

$primary80: #9bd84d;

$primary-container: #b6f566;
$on-primary-container: #102000;
$inverse-primary: #9bd84d;

// para hacer que el toggle del navbar sea blanco

$color-toggle-navbar: #fff;

$navbar-light-color: rgba($color-toggle-navbar, 0.55);
$navbar-light-hover-color: rgba($color-toggle-navbar, 0.7);
$navbar-light-active-color: rgba($color-toggle-navbar, 0.9);
$navbar-light-disabled-color: rgba($color-toggle-navbar, 0.3);
$navbar-light-toggler-border-color: rgba($color-toggle-navbar, 0.1);

// importamos bootstrap
@import "bootstrap";

// Indicamos nuestras nuevas clases
body {
  background-color: $bg-color;
}

// Clase de color del modal
// .modal-content {
//   background-color: $primary-container;

//   input {
//     background-color: $primary80;
//     border-color: $on-primary-container;
//   }
// }

.modal-header {
  border-bottom: 0px;
}
.modal-footer {
  border-top: 0px;
}

.btn-round {
  border-radius: 100px;
  height: 48px;
}

.bg-primary-container {
  background-color: $primary-container;
}
.border-end {
  .border-primary-container {
    border-color: $primary-container;
  }
}

.button-clientes {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.error-msg {
  color: red;
  font-size: small;
}
.form-error {
  border-color: red;
}

.carousel-control-icon {
  color: black;
  font-size: 64px;
}
